<phpunit bootstrap="bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false">
  <testsuites>
    <testsuite name="buffer">
      <directory>buffer/tests</directory>
    </testsuite>
    <testsuite name="tokenizer">
      <directory>tokenizer/tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>buffer</directory>
      <directory>tokenizer</directory>
    </whitelist>
  </filter>
</phpunit>